.controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control {
  width: 189px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.control button svg {
  color: var(--gray-300);
}

.control button:hover {
  opacity: 70%;
}