.cover.big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cover.small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
}

img {
  width: 100%;
}
