.default {
  display: flex;
  justify-content: space-around;
  row-gap: 1.75rem;

  background-color: var(--purple-500);
  border-radius: 9px;
}

.verticalFull {
  flex-direction: column;
  padding: 3.125rem 2.375rem;
  grid-area: vFull;
}

.horizontalFull {
  flex-wrap: wrap;
  padding: 1.5rem;
  grid-area: hFull;
}

.horizontalSimple {
  flex-wrap: wrap;
  padding: 1.5rem;
  grid-area: hSimple; 
}
