.container {
  width: 656px;
  height: 498px;

  display: grid;
  grid-template-columns: 1fr 357px;
  grid-template-rows: 1fr 199px;
  grid-template-areas: "vFull hFull" "vFull hSimple";
  
  gap: 2rem;
}
