:root {
  font-family: "Roboto", sans-serif;
  color: var(--gray-300);

  --purple-900: #0f0d13;
  --purple-500: #2a2141;

  --gray-300: #e1e1e6;
  --gray-400: #c4c4cc;
  --gray-100: #d9d9d9;


  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--purple-900);
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}